@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --bg-card-one: hsl(263, 55%, 52%);
  --bg-card-two: hsl(217, 19%, 35%);
  --bg-card-three: hsl(0, 0%, 100%);
  --bg-card-four: hsl(219, 29%, 14%);
  --bg-card-five: hsl(210, 46%, 95%);
  --bg-body: hsl(0, 0%, 81%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 13px;
  font-family: "Barlow Semi Condensed", sans-serif;
  background-color: var(--bg-body);
}

.container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  padding: 50px 20px;
  gap: 20px;
}

h1 {
  display: none;
}

.target {
  width: 100%;
  border-radius: 10px;
  padding: 30px 25px;
}

.profile {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.container-img {
  border-radius: 100px;
  overflow: hidden;
  width: 40px;
  height: 40px;
  margin-right: 20px;
}

.photo {
  width: 100%;
}
.profile-text {
  color: var(--bg-card-three);
}

.name {
  font-weight: 500;
}
.verified {
  opacity: 0.5;
}
.text {
  color: var(--bg-card-three);
}
.description {
  font-size: 1.59em;
  font-weight: 600;
  margin-bottom: 15px;
}
.testimony {
  opacity: 0.5;
  font-size: 1.11em;
}
.card_one {
  background-color: var(--bg-card-one);
  background-image: url("../images/bg-pattern-quotation.svg");
  background-repeat: no-repeat;
  background-position: 80% 0;
  background-size: 120px;
}
.card_two {
  background-color: var(--bg-card-two);
}
.card_three {
  background-color: var(--bg-card-three);
}
.card_four {
  background-color: var(--bg-card-four);
}
.card_five {
  background-color: var(--bg-card-five);
}

.card_one .container-img {
  border: 3px solid hsl(263, 83%, 68%);
}

.card_four .container-img {
  border: 3px solid hsl(263, 100%, 57%);
}

.card_three .profile-text,
.card_five .profile-text {
  color: var(--bg-card-four);
  opacity: 1;
}

.card_three .text,
.card_five .text {
  color: var(--bg-card-four);
  opacity: 1;
}

.card_three .profile-text .verified,
.card_five .profile-text .verified {
  opacity: 0.7;
}

.card_three .text .testimony,
.card_five .text .testimony {
  opacity: 0.7;
}

@media screen and (min-width: 1100px) {
  .container {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(4, 250px);
    grid-template-rows: repeat(2, 300px);
    gap: 25px;
    padding: 40px 200px;
    place-content: center;
  }
  .card_one {
    grid-column: 1/3;
    grid-row: 1;
  }
  .card_two {
    grid-column: 3/4;
    grid-row: 1;
  }
  .card_three {
    grid-row: 2;
    grid-column: 1/2;
  }
  .card_four {
    grid-row: 2;
    grid-column: 2/4;
  }
  .card_five {
    grid-column: 4;
    grid-row: 1/3;
  }
}
